* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ffd6e8, #ffeef5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  width: 320px;
}

.cute-img {
  width: 180px;
  margin-bottom: 15px;
}

h1 {
  font-size: 22px;
  color: #ff5f9e;
  margin-bottom: 25px;
}

.buttons {
  position: relative;
  height: 80px;
}

button {
  padding: 12px 25px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#yesBtn {
  background: #ff5f9e;
  color: white;
}

#noBtn {
  background: #ffd1e3;
  color: #ff5f9e;
  position: absolute;
  left: 180px;
  top: 0;
}
